.titled-image-card {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.titled-image-card img {
    width: 100%;
    height: auto;
    margin-top: auto;
}

.titled-image-card-title {
    white-space: pre-wrap;
    margin-bottom: auto;
    font-size: 14px;
    font-weight: 500;
}